.contact-header{
    margin-bottom: 50px;
    background-image: url('../../img/contact-cover.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}

.contact-header::before{
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.637);
}


.contact-heading{
    position: absolute;
    z-index: 0.5;
    color: #ffb84d;
    font-size: 60px;
    font-weight: 500;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 15%;
    text-align: center;
}